body{
    background-color: #ede8e1;
    overflow-x: hidden;
}

.news-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; } 

.box{
    border: 2px solid #fe4655;
    background-color: #ede8e1;
}

.news-header{
    font-family: Anton;
    font-size: 30px;
    padding: 8px;
}

.news-text{
    font-family: 'Allerta', sans-serif;
    font-size: 14px;
    padding: 4px;
}

.img:hover{
    opacity: 20%;
}

/*site map */
.site-map{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.ul1 { grid-area: 1 / 1 / 2 / 2; }
.ul2 { grid-area: 1 / 2 / 2 / 3; }

li:hover{
    color: #fe4655;
}

.pics{
    top: 50%;
  left: 50%;
  position: center;
}

.hover{
    height: 500px;
    transition: transform .5s;
}


.hover:hover{
    transform: scale(1.1);
}