* {
    margin: 0;
    padding: 0;
  }



.site-head{
    padding: 20px;
    background-color: #111111;
    color: white;
    height: 5vh;
    display: grid;
    grid-template-columns: 60px repeat(5, 1fr);
    grid-template-rows: 5vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    font-family: 'Allerta', sans-serif;
}

.logo { grid-area: 1 / 1 / 2 / 2; }
.name { 
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'VALORANT', sans-serif;
    font-size: 30px;
    margin-top: -3px;
 }
.button1 { grid-area: 1 / 3 / 2 / 4; }
.button2 { grid-area: 1 / 4 / 2 / 5; }
.button3 { grid-area: 1 / 5 / 2 / 6; }
.download { 
    grid-area: 1 / 6 / 2 / 7;
border: 3px #fe4655; } 

.logo{
    fill:#fe4655;
    margin-top: -6px;
}

a{
    text-decoration:none;
    color: white;
}

a:hover{
    color: #fe4655;
}